<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duo.mapper.MessageMapper">
    <resultMap id="BaseResultMap" type="com.duo.entity.Message">
        <id column="messageId" jdbcType="INTEGER" property="messageid"/>
        <result column="messageComment" jdbcType="VARCHAR" property="messagecomment"/>
        <result column="messageTime" jdbcType="TIMESTAMP" property="messagetime"/>
        <result column="videoId" jdbcType="INTEGER" property="videoid"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
    </resultMap>
    <sql id="Base_Column_List">
    messageId, messageComment, messageTime, videoId, uid
  </sql>
    <select id="selectByVid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from message
        where videoId = #{videoid,jdbcType=INTEGER}
    </select>
    <select id="selectByUid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from message
        where uid = #{uid,jdbcType=INTEGER}
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from message
        where messageId = #{messageid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from message
    where messageId = #{messageid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.duo.entity.Message">
    insert into message (messageId, messageComment, messageTime, 
      videoId, uid)
    values (#{messageid,jdbcType=INTEGER}, #{messagecomment,jdbcType=VARCHAR}, #{messagetime,jdbcType=TIMESTAMP}, 
      #{videoid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.duo.entity.Message">
        insert into message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="messageid != null">
                messageId,
            </if>
            <if test="messagecomment != null">
                messageComment,
            </if>
            <if test="messagetime != null">
                messageTime,
            </if>
            <if test="videoid != null">
                videoId,
            </if>
            <if test="uid != null">
                uid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="messageid != null">
                #{messageid,jdbcType=INTEGER},
            </if>
            <if test="messagecomment != null">
                #{messagecomment,jdbcType=VARCHAR},
            </if>
            <if test="messagetime != null">
                #{messagetime,jdbcType=TIMESTAMP},
            </if>
            <if test="videoid != null">
                #{videoid,jdbcType=INTEGER},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.duo.entity.Message">
        update message
        <set>
            <if test="messagecomment != null">
                messageComment = #{messagecomment,jdbcType=VARCHAR},
            </if>
            <if test="messagetime != null">
                messageTime = #{messagetime,jdbcType=TIMESTAMP},
            </if>
            <if test="videoid != null">
                videoId = #{videoid,jdbcType=INTEGER},
            </if>
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
        </set>
        where messageId = #{messageid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.duo.entity.Message">
    update message
    set messageComment = #{messagecomment,jdbcType=VARCHAR},
      messageTime = #{messagetime,jdbcType=TIMESTAMP},
      videoId = #{videoid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER}
    where messageId = #{messageid,jdbcType=INTEGER}
  </update>
</mapper>